@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

*{
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 1000px;
    }

    ::-webkit-scrollbar-thumb {
        background: #FF5C00;
        border-radius: 1000px;
    }
}

.cus-bg {
    background-color: rgba(255, 92, 0, 0.06);
}

.cus-shadow {
    box-shadow: 0 4px 72px 0 rgba(0, 0, 0, 0.1);
}

input.invalid {
    border: 2px solid #FF5C00;
    box-shadow: 0 0 50px 0 rgba(255, 50, 0, 0.20);
}

div:where(.swal2-container) div:where(.swal2-timer-progress-bar){
    background-color: #FF5C00 !important;
}

#Auth:has(#loading) {
    opacity: 0.7;
}

#loading {
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 2s;
    animation-timing-function: linear;
}

input:focus:not(.invalid) {
    border-color: #276EF6;
    box-shadow: 0 0 50px 0 rgba(39, 110, 246, 0.2);
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    @apply !w-[100px] !h-[40px] !rounded-full !p-0 !pt-1 !flex !justify-center !items-center !bg-[#FF5C00]
}
div:where(.swal2-container) div:where(.swal2-popup){
    @apply !rounded-[25px] !overflow-hidden
}

@media screen and (max-width: 450px) {
    .auth,
    .register,
    .login,
    .forgot{
        width: 92% !important;
        height: 95% !important;
        max-height: none;
    }
}