.autoComplete {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    border-radius: 15px;
    background-color: #5500ff;
    width: 200px;
    min-height: 100px;
}

.code{
    border: 1px solid lightgray;
    border-radius: 20px;
    overflow: hidden;
}

.ͼ1.cm-focused {
    outline: 0 !important;
}

.ͼ1 .cm-lineNumbers .cm-gutterElement{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 15px 0 5px;
    color: #ff5c00;
}

.ͼ2 .cm-activeLineGutter,
.ͼ2 .cm-gutters{
    background: #ffeded;
}

.cm-activeLine{
    background-color: #fff0e6 !important;
}